.App {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.mt-2 {
  margin-top: 2em;
}

.mt-5 {
  margin-top: 5em;
}
